html {
  font-size: 20px; }

.App {
  font-size: 1.5rem;
  text-align: center; }

.App .App-logo {
  height: 80px;
  animation: App-logo-spin infinite 20s linear; }

.App .App-header {
  height: 150px;
  padding: 20px;
  color: white;
  background-color: #222; }

.App .App-header h2 {
  font-weight: 100;
  letter-spacing: 0.5em;
  text-transform: uppercase; }

.App .AddNoteForm input {
  margin-bottom: 0.1em; }

.App .AddNoteForm,
.App .NoteList {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em 0.2em; }

.App .AddNoteForm input,
.App .AddNoteForm textarea,
.App .AddNoteForm button,
.App .AddNoteForm p,
.App .AddNoteForm h2,
.App .NoteList input,
.App .NoteList textarea,
.App .NoteList button,
.App .NoteList p,
.App .NoteList h2 {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  text-align: left;
  border: none;
  outline: none;
  background: #edff75; }

.App .AddNoteForm textarea,
.App .NoteList textarea {
  overflow: auto;
  resize: vertical; }

.App .AddNoteForm .title,
.App .NoteList .title {
  font-size: 1.2em;
  padding-left: 0.25em; }

.App .AddNoteForm button,
.App .NoteList button {
  cursor: pointer;
  background: #7fe6ca; }

.App .AddNoteForm form,
.App .NoteList form {
  padding: 0; }

.App .NoteList {
  padding: 0 0.2em; }

.App .NoteList p {
  font-size: 0.8em;
  font-weight: bold;
  width: 100%;
  margin: 1em 0 0 0;
  background: orange; }

.App .NoteList button {
  position: relative;
  top: -10px;
  left: 5px;
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background: white; }

.App .title {
  padding: 0; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
