$greenish: #7fe6ca;

.App {
  text-align: center;
  .App-logo {
    height: 80px;

    animation: App-logo-spin infinite 20s linear;
  }
  .App-header {
    height: 150px;
    padding: 20px;

    color: white;
    background-color: #222;
    h2 {
      font-weight: 100;

      letter-spacing: 0.5em;
      text-transform: uppercase;
    }
  }
  .AddNoteForm,
  .NoteList {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 0.2em;
    input,
    textarea,
    button,
    p,
    h2 {
      font-size: large;

      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;

      text-align: left;

      border: none;
      outline: none;
      background: #edff75;
    }
    textarea {
      overflow: auto;

      resize: vertical;
    }
    button {
      cursor: pointer;

      background: $greenish;
    }
    p {
      font-size: 1.5em;
    }
    form {
      padding: 0;
    }
  }
  .NoteList {
    padding: 0 0.2em;
  }
  .NoteList p {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0.5em 0;

    width: 100%;

    background: orange;
  }
  .NoteList button {
    position: relative;
    top: -10px;
    left: 5px;

    float: right;

    width: 40px;
    height: 40px;

    text-align: center;

    border-radius: 50%;
    // transform: rotate(-45deg)
    background: white;
  }
  .title {
    font-style: bold;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
